<section class="hero">
    <h1>Welcome to CSE Motors!</h1>
    <div class="car-highlight">
        <h2>DMC Delorean</h2>
        <ul class="features">
            <li>3 cups holders</li>
            <li>Superman doors</li>
            <li>Fuzzy dice</li>
        </ul>
          <img src="/public/images/vehicles/delorean-tn.jpg" alt="Delorean"
         <button class="own-button">Own Today</button>
    </div>
</section>

<section class="upgrades">
    <h3>Delorean Upgrades</h3>
    <ul class="upgrade-list">
        <li><img src="/public/images/upgrades/flux-cap.png" alt="Flux Capacitor">
            Flux Capacitor</li>
        <li>
            <img src="/public/images/upgrades/flame.jpg" alt="Flame Decals">
            Flame Decals</li>
        <li>
            <img src="/public/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers">
            Bumper Stickers</li>
        <li>
            <img src="/public/images/upgrades/hub-cap.jpg" alt="Hub Caps">
            Hub Caps</li>
    </ul>
</section>

<section class="reviews">
    <h3>DMC Delorean Reviews</h3>
    <blockquote>"So fast it's almost like travelling in time." - 4/5</blockquote>
    <blockquote>"Coolest ride on the road." 4/5</blockquote>
    <blockquote>"I'm feeling Mcfly." 5/5</blockquote>
    <blockquote>"The most futuristic ride of our day." 4.5/5 </blockquote>
    <blockquote>"80's livin and I love 5/5</blockquote>
</section>
